1 VERSIONINFO
FILEVERSION      0,1,2,0
PRODUCTVERSION   0,1,2,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "SuperShuckie"
            VALUE "CompanyName",      "Snowy Mouse"
            VALUE "FileDescription",  "SuperShuckie"
            VALUE "FileVersion",      "0.1.2.0"
            VALUE "InternalName",     "supershuckie"
            VALUE "OriginalFilename", "supershuckie.exe"
            VALUE "ProductName",      "supershuckie"
            VALUE "ProductVersion",   "0.1.2.0"
            VALUE "LegalCopyright",   "'25 Snowy Mouse"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDI_ICON1 ICON DISCARDABLE "../supershuckie.ico"
