[package]
name = "supershuckie-frontend-c"
version.workspace = true
edition.workspace = true
license.workspace = true

publish = false

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
supershuckie-frontend = { workspace = true }
supershuckie-core = { workspace = true }
